/* Main stylesheet*/
@font-face {
    font-family: 'Roboto-conreg';
    src: url('../fonts/RobotoCondensed-Regular.ttf'); 
}

@font-face {

    font-family: 'Roboto-thi';
    src: url('../fonts/Roboto-Thin.ttf');

}

@font-face {
    font-family: 'Myriad-reg';
    src: url('../fonts/MyriadPro-Regular.otf'); 
}

@font-face {
    font-family: 'Myriad-con';
    src: url('../fonts/MyriadPro-Cond.otf'); 
}

@font-face {
    font-family: 'euroflu-lig';
    src: url('../fonts/eurof35.ttf'); 
}

html, body {
    height:100%;
}

a{
    text-decoration: none;

}

body {

    font-family: 'Roboto-conreg';
    position: relative;
    margin:0 auto;
}


ul{
    list-style-image: none;
    list-style-type: none;
    list-style-position: outside;

}

ul li{

    display:inline-block;

}

.top-header{
    padding-top:1.5%;
    position: relative;

}

.a-logo{

    display:block;
    margin-left: 7%;
    float: left;
    position: absolute;
    bottom: 5px;

}

#page {
height: 100%;
}

.logo {


    width: 240px;
    height: 39px;

}

.batch1 {

    background-image: url('../images/backgroundbger.fw.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    height:100%;
}



.border {

	
    outline: solid 1px black;

}


.clear {

    clear: both;
}





.menu {
        margin-right:5%;
        display:block;
        float: right;

}

.nav {



}
.nav-item{

    margin-left: 12px;
    margin-right: 12px;


}

.nav-link {

    font-family: 'euroflu-lig';
    font-size: 1.45em;

    text-transform: lowercase;
    color: #000000;

    letter-spacing: 1px;

}

.nav-link:hover {

    color: #FFA217;


}
.menu-button{

    letter-spacing: inherit;
}

.contato-button{

    
    background:#FFA217;
    cursor: pointer;
    border-radius: 7px;
    -moz-border-radius: 7px;
    color: #ffffff;
    width: 95px;
    text-transform: uppercase;

    border: solid 3px #ffffff;
    padding: 10px 15px;

    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.contato-button:hover,
.contato-button:active {

  border: none;
  color: #FFA217;
  background: #FFFFFF;
  border: solid 3px #FFA217;
  border-radius: 7px;

}

.batch1-content {

    text-align: center;
    margin-top: 8%;

}

.text-welcome {

    font-family: 'Roboto-thi';
    font-size: 1.7em;
}

.a-welcome {

    display:block;
    width: 125px;
    background:#0066CC;
    cursor: pointer;
    border-radius: 15px;
    -moz-border-radius: 15px;
    color: #ffffff;

    text-transform: uppercase;

    border: none;
    padding: 15px 60px;
    margin: 20px auto;

    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;

}

.a-welcome:hover,
.a-welcome:active {
  border: none;
  color: #FFF;
  background: #FFA217;/*#4DA6FF*/

  border-radius: 15px;

}

.batch2 {

    background-color: #4DA6FF;
    
    background-size: 100%;
    background-position: center;
    height:100%;
}
